<mat-toolbar>
  <div class="logo-block">
    <img src="../../../../assets/auth-page/logo.svg" class="logo" />
    <h1>
      {{ 'AUTH_FORM_TITLE' | translate }}
    </h1>
  </div>
  <div class="options">
    <button mat-icon-button class="option-icon" aria-label="search">
      <mat-icon>search</mat-icon>
    </button>

    <button mat-icon-button class="option-icon" aria-label="help">
      <mat-icon>help_outline</mat-icon>
    </button>

    <button mat-icon-button class="option-icon" aria-label="notifications">
      <mat-icon fontSet="material-icons-outlined" matBadge="15" matBadgeColor="warn" aria-hidden="false">notifications</mat-icon>
    </button>

    <img src="../../../../assets/nav/avatar-svgrepo-com.svg" class="avatar" />
    <span class="user">Serati Ma</span>

    <button mat-icon-button class="option-icon" aria-label="translate">
      <mat-icon fontSet="material-icons-outlined">translate</mat-icon>
    </button>
  </div>
</mat-toolbar>
