@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.cv-page {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 0.4fr 2fr;
  gap: 20px;

  .cv-list {
    display: flex;
    flex-flow: column;
    max-width: 250px;

    button {
      background-color: #fafafa;
      color: black;
      border-radius: 4px;
      box-shadow: none;
      align-self: flex-end;
    }
  }
}
