<form class="employee-form" [formGroup]="employeeForm">
    <div class="input-field">
        <label>{{ 'EMPLOYEE_FORM_FIRST_NAME_LABEL' | translate }}</label>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="firstName" />
        </mat-form-field>
        <div
            *ngIf="
                !employeeForm.get('firstName')?.valid &&
                employeeForm.get('firstName')?.touched
            "
        >
            {{ "INVALID_SPECIFY_THE_FIELD" | translate }}
        </div>
    </div>

    <div class="input-field">
        <label>{{ 'EMPLOYEE_FORM_LAST_NAME_LABEL' | translate }}</label>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="lastName" />
        </mat-form-field>
        <div
            *ngIf="
                !employeeForm.get('lastName')?.valid &&
                employeeForm.get('lastName')?.touched
            "
        >
            {{ "INVALID_SPECIFY_THE_FIELD" | translate }}
        </div>
    </div>

    <div class="input-field">
        <label>{{ 'EMPLOYEE_FORM_EMAIL_LABEL' | translate }}</label>
        <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="email" />
        </mat-form-field>
        <div
            *ngIf="
                !employeeForm.get('email')?.valid &&
                employeeForm.get('email')?.touched
            "
        >
            {{ "INVALID_SPECIFY_THE_PATTERN" | translate }}
        </div>
    </div>

    <div class="input-field">
        <label>{{ 'EMPLOYEE_FORM_SPECIALIZATION_LABEL' | translate }}</label>
        <mat-form-field appearance="outline">
            <mat-select formControlName="specialization" multiple="true">
                <mat-option *ngFor="let specialization of specializations" [value]="specialization">{{ specialization | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div
            *ngIf="
                !employeeForm.get('specialization')?.valid &&
                employeeForm.get('specialization')?.touched
            "
        >
            {{ "INVALID_SPECIFY_THE_FIELD" | translate }}
        </div>
    </div>

    <div class="input-field">
        <label>{{ 'EMPLOYEE_FORM_DEPARTMENT_LABEL' | translate }}</label>
        <mat-form-field appearance="outline">
            <mat-select formControlName="department" multiple="true">
                <mat-option *ngFor="let department of departments" [value]="department">{{ department | titlecase }}</mat-option>
            </mat-select>
        </mat-form-field>
        <div
            *ngIf="
                !employeeForm.get('department')?.valid &&
                employeeForm.get('department')?.touched
            "
        >
            {{ "INVALID_SPECIFY_THE_FIELD" | translate }}
        </div>
    </div>

</form>
