<mat-tab-group
  animationDuration="0"
  dynamicHeight
  mat-stretch-tabs="false"
  mat-align-tabs="start"
>
  <mat-tab
    label="{{ 'EMPLOYEE_PAGE_INFO_TAB_TITLE' | translate }}"
    *ngIf="employee"
  >
    <div class="employee-form">
      <employee-form [employee]="employee"></employee-form>
    </div>
  </mat-tab>
  <mat-tab
    label="{{ 'EMPLOYEE_PAGE_CV_TAB_TITLE' | translate }}"
    *ngIf="employee"
  >
    <app-employee-cv
      [employeeCvs]="employee.cvs"
      [employeeId]="employee.id"
    ></app-employee-cv>
  </mat-tab>
</mat-tab-group>
