<mat-tab-group
  animationDuration="0"
  dynamicHeight
  mat-stretch-tabs="false"
  mat-align-tabs="start"
>
  <mat-tab
    label="{{ 'EMPLOYEE_PAGE_INFO_TAB_TITLE' | translate }}"
    *ngIf="employee"
  >
    <div class="employee-form">
      <form [formGroup]="employeeForm">
        <employee-form formGroupName="employee"></employee-form>
        <div class="buttons">
          <button mat-flat-button color="primary" (click)="saveEmployee()">
            {{ 'SAVE_BUTTON' | translate }}
          </button>
          <button mat-stroked-button="secondary">
            {{ 'CANCEL_BUTTON' | translate }}
          </button>
          <button mat-flat-button color="warn" (click)="deleteEmployee()" *ngIf="employee.id !== -1">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
        </div>
      </form>
    </div>
  </mat-tab>
  <mat-tab
    label="{{ 'EMPLOYEE_PAGE_CV_TAB_TITLE' | translate }}"
    *ngIf="employee"
  >
    <app-employee-cv
      [employeeCvs]="employee.cvs"
      [employeeId]="employee.id"
    ></app-employee-cv>
  </mat-tab>
</mat-tab-group>
