<form class="project-form" [formGroup]="projectForm">
  <div class="input-field">
    <text-input
      formControlName="projectName"
      type="text"
      apperance="outline"
      [label]="'PROJECT_FORM_NAME_LABEL'"
    ></text-input>
  </div>

  <div class="input-field">
    <number-input
      formControlName="teamSize"
      apperance="outline"
      [label]="'PROJECT_FORM_TEAM_SIZE_LABEL'"
    ></number-input>
  </div>

  <div class="input-field">
    <text-area-input
      formControlName="description"
      apperance="outline"
      [label]="'PROJECT_FORM_DESCRIPTION_LABEL'"
    ></text-area-input>
  </div>

  <div class="input-field">
    <dropdown-list
      formControlName="teamRoles"
      apperance="outline"
      [options]="roles"
      [label]="'PROJECT_FORM_ROLES_LABEL'"
    ></dropdown-list>
  </div>

  <div class="input-field">
    <dropdown-list
      formControlName="techStack"
      apperance="outline"
      [options]="techs"
      [label]="'PROJECT_FORM_TECH_STACK_LABEL'"
    ></dropdown-list>
  </div>

  <div class="input-field">
    <dropdown-list
      formControlName="responsibilities"
      apperance="outline"
      [options]="responsibilities"
      [label]="'PROJECT_FORM_RESPONSIBILITIES_LABEL'"
    ></dropdown-list>
  </div>

  <div class="input-field">
    <!-- <label>{{ 'PROJECT_FORM_START_DATE_LABEL' | translate }}</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        [matDatepicker]="startDataPicker"
        formControlName="startDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="startDataPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #startDataPicker></mat-datepicker>
    </mat-form-field> -->
    <date-picker
      formControlName="startDate"
      apperance="outline"
      [label]="'PROJECT_FORM_START_DATE_LABEL'"
    ></date-picker>
  </div>

  <div class="input-field">
    <!-- <label>{{ 'PROJECT_FORM_END_DATE_LABEL' | translate }}</label>
    <mat-form-field appearance="outline">
      <input
        matInput
        [matDatepicker]="endDataPicker"
        formControlName="endDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="endDataPicker"
      ></mat-datepicker-toggle>
      <mat-datepicker #endDataPicker></mat-datepicker>
    </mat-form-field> -->
    <date-picker
      formControlName="endDate"
      apperance="outline"
      [label]="'PROJECT_FORM_END_DATE_LABEL'"
    ></date-picker>
  </div>
</form>
