:host {
  display: block;
  width: 100%;
  height: 100%;
}

.cv-list {
  display: flex;
  flex-flow: column;

  .cv {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 46px;
    max-width: 250px;
    font-size: 14px;
    border-bottom: 1px solid #f0f0f0;
    transition: all 0.1s ease;

    .selector {
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: row;
      align-items: center;
    }

    span {
      margin-left: 24px;
    }

    button {
      margin-right: 12px;
    }
  }

  .selected {
    border-bottom: 2px solid #1890ff !important;
    color: #1890ff;
    transition: all 0.1s ease;
  }
}
