<div class="auth-page">

  <div class="lang-selector">
    <button mat-icon-button (click)="changeLanguage()">
      <mat-icon>language</mat-icon>
    </button>
  </div>
  <div class="help">
    <button mat-mini-fab>
      <mat-icon>question_mark</mat-icon>
    </button>
  </div>

  <form [formGroup]="authForm" (submit)="submit()">
    <div class="logo-block">
      <img src="../../../assets/auth-page/logo.svg" />
      <h1>
        {{ 'AUTH_FORM_TITLE' | translate }}
      </h1>
    </div>

    <div class="form-input-block">
      <text-input
        formControlName="username"
        type="text"
        [label]="'AUTH_FORM_USERNAME_LABEL'"
      ></text-input>
    </div>

    <div class="form-input-block">
      <text-input
        formControlName="password"
        type="password"
        [label]="'AUTH_FORM_PASSWORD_LABEL'"
      ></text-input>
    </div>

    <div class="optional-block">
      <mat-checkbox>
        {{ 'AUTH_FORM_REMEMBER_ME' | translate }}
      </mat-checkbox>
      <a href="#">
        {{ 'AUTH_FORM_FORGOT_PASSWORD' | translate }}
      </a>
    </div>
    <div class="auth-error">
      {{ authErrorMessage | translate }}
    </div>
    <button mat-flat-button color="primary">
      {{ 'AUTH_FORM_LOGIN' | translate }}
    </button>
  </form>
</div>
