<form [formGroup]="cvForm">
  <employee-form formControlName="employee"></employee-form>

  <div formArrayName="projects" class="projects">
    <ng-container *ngFor="let project of projectsControlsArray.controls; let i = index">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title> {{ this.CV.cvsProjects[i].projectName }} </mat-panel-title>
        </mat-expansion-panel-header>
        <project-form formControlName="{{ i }}"></project-form>
      </mat-expansion-panel>
    </ng-container>
  </div>

  {{ cvForm.value | json }}
</form>
