:host {
  display: block;
  width: 100%;
  height: 100%;
}

form {
  // .employee-form {
  //   display: flex;
  //   flex-flow: row;
  //   gap: 40px;

  //   .info {
  //     flex-grow: 2;
  //   }

  //   .languages {
  //     flex-grow: 1;
  //   }
  // }

  .employee-form .languages {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
  }

  .projects {
    mat-expansion-panel {
      margin-bottom: 15px;

      mat-expansion-panel-header {
        background-color: #fafafa;
      }

      ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
        padding-top: 35px;
      }
    }
  }
}
