<form [formGroup]="cvForm">
  <div class="employee-form">
    <div class="info grid-form">
      <div class="input-field">
        <text-input
          formControlName="firstName"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_FIRST_NAME_LABEL'"
        ></text-input>
      </div>

      <div class="input-field">
        <text-input
          formControlName="lastName"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_LAST_NAME_LABEL'"
        ></text-input>
      </div>

      <div class="input-field">
        <text-input
          formControlName="email"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_EMAIL_LABEL'"
        ></text-input>
      </div>

      <div class="input-field">
        <dropdown-list
          formControlName="specialization"
          apperance="outline"
          [options]="specializations"
          [multiple]="false"
          [label]="'EMPLOYEE_FORM_SPECIALIZATION_LABEL'"
        ></dropdown-list>
      </div>

      <div class="input-field">
        <dropdown-list
          formControlName="department"
          apperance="outline"
          [options]="departments"
          [multiple]="false"
          [label]="'EMPLOYEE_FORM_DEPARTMENT_LABEL'"
        ></dropdown-list>
      </div>
    </div>
    <p>{{ 'CV_LANGUAGES' | translate }}</p>
    <div class="languages" formArrayName="languages">
      <ng-container
        *ngFor="let language of languagesControlsArray.controls; index as j"
      >
        <cv-employee-language-form formControlName="{{ j }}"></cv-employee-language-form>
      </ng-container>
    </div>
  </div>

  <div formArrayName="projects" class="projects">
    <ng-container
      *ngFor="let project of projectsControlsArray.controls; index as i"
    >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ this.CV.cvsProjects[i].projectName }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <project-form formControlName="{{ i }}"></project-form>
      </mat-expansion-panel>
    </ng-container>
  </div>
</form>
