<form [formGroup]="cvForm">
  <div class="employee-form">
    <div class="info grid-form">
      <div class="input-field">
        <text-input
          formControlName="firstName"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_FIRST_NAME_LABEL'"
        ></text-input>
      </div>

      <div class="input-field">
        <text-input
          formControlName="lastName"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_LAST_NAME_LABEL'"
        ></text-input>
      </div>

      <div class="input-field">
        <text-input
          formControlName="email"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_EMAIL_LABEL'"
        ></text-input>
      </div>

      <div class="input-field">
        <dropdown-list
          formControlName="specialization"
          apperance="outline"
          [options]="specializations"
          [multiple]="false"
          [label]="'EMPLOYEE_FORM_SPECIALIZATION_LABEL'"
        ></dropdown-list>
      </div>

      <div class="input-field">
        <dropdown-list
          formControlName="department"
          apperance="outline"
          [options]="departments"
          [multiple]="false"
          [label]="'EMPLOYEE_FORM_DEPARTMENT_LABEL'"
        ></dropdown-list>
      </div>

      <div class="input-field">
        <dropdown-list
          formControlName="skills"
          apperance="outline"
          [options]="skills"
          [multiple]="true"
          [label]="'EMPLOYEE_FORM_SKILLS_LABEL'"
        ></dropdown-list>
      </div>

      <div class="input-field">
        <text-input
          formControlName="cvName"
          type="text"
          apperance="outline"
          [label]="'EMPLOYEE_FORM_CV_NAME_LABEL'"
        ></text-input>
      </div>
    </div>
    <div class="languages-header">
      <p>{{ 'CV_LANGUAGES' | translate }}</p>
      <button mat-mini-fab (click)="addLanguage()">
        <mat-icon fontIcon="add"></mat-icon>
      </button>
    </div>
    <div class="languages" formArrayName="languages">
      <ng-container
        *ngFor="let language of languagesControlsArray.controls; index as j"
      >
        <div class="language">
          <cv-employee-language-form
            formControlName="{{ j }}"
          ></cv-employee-language-form>
          <button mat-flat-button color="warn" (click)="removeLanguage(j)">
            {{ 'REMOVE_BUTTON' | translate }}
          </button>
        </div>
      </ng-container>
    </div>
  </div>

  <div formArrayName="projects" class="projects">
    <div class="add-project-button">
      <div class="input-field">
        <mat-form-field *ngIf="existingProjectsNames$ | async as options" appearance="outline">
          <mat-label>{{ 'ADD_EXISTING_PROJECT_BUTTON' | translate }}</mat-label>
          <mat-select
            (selectionChange)="onAddExistingProjectOptionSelected($event)"
          >
            <mat-option *ngFor="let option of options" [value]="option">
              {{ option }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button mat-flat-button color="primary" (click)="addProject()">
        {{ 'ADD_PROJECT_BUTTON' | translate }}
      </button>
    </div>

    <ng-container
      *ngFor="let project of projectsControlsArray.controls; index as i"
    >
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ this.projectsNames[i] }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <project-form formControlName="{{ i }}"></project-form>
        <mat-action-row>
          <button mat-icon-button (click)="deleteProject(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </ng-container>
  </div>

  <div class="buttons">
    <button mat-flat-button color="primary" (click)="saveCv()">
      {{ 'SAVE_BUTTON' | translate }}
    </button>
  </div>
</form>
