:host {
  display: block;
  width: 100%;
  height: 100%;
}

form {
  .employee-form {
    .languages-header {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 20px;
      margin-bottom: 15px;

      p {
        margin: 0;
      }

      button {
        background-color: #fafafa;
        color: black;
        border-radius: 4px;
        box-shadow: none;
        align-self: flex-end;
      }
    }

    .languages {
      display: flex;
      flex-flow: column;
      justify-content: flex-start;

      .language {
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        width: fit-content;
        gap: 20px;
      }
    }
  }

  .projects {
    margin-top: 10px;

    .add-project-button {
      margin-bottom: 10px;
      width: 100%;
      display: flex;
      flex-flow: row;
      flex-wrap: wrap;
      justify-content: flex-end;
      gap: 20px;

      ::ng-deep
        .mat-mdc-form-field:not(.mat-form-field-disabled)
        .mat-mdc-floating-label.mdc-floating-label {
        padding-bottom: 23px;
      }

      ::ng-deep .mat-mdc-text-field-wrapper {
        height: 36px !important;
      }

      ::ng-deep
        .input-field[_ngcontent-ng-c1586087016]:not(.no-custom-size)
        .mat-mdc-text-field-wrapper
        .mat-mdc-form-field-flex
        .mat-mdc-form-field-infix
        .mat-mdc-select {
        font-size: 14px !important;
      }
    }

    mat-expansion-panel {
      margin-bottom: 15px;

      mat-expansion-panel-header {
        background-color: #fafafa;
      }

      ::ng-deep .mat-expansion-panel-content .mat-expansion-panel-body {
        padding-top: 35px;
      }
    }
  }

  .buttons {
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-flow: row;
    justify-content: end;
  }
}
