<h2 mat-dialog-title>{{ data.title| translate }} {{ data?.objectName }}</h2>
<mat-dialog-content>
  <p>{{ data.question| translate }}</p>
  <p class="notify">{{ data?.notification | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="secondary" (click)="onNoClick()">
    {{ data.dismissButton | translate }}
  </button>
  <button
    mat-flat-button
    [color] = "data.warn ? 'warn' : 'primary' "
    [mat-dialog-close]="true"
    cdkFocusInitial
  >
    {{ data.confirmButton| translate }}
  </button>
</mat-dialog-actions>
