<nav class="menu-container">
  <a routerLink="/home/employees/list" >
    <div class="menu-option" routerLinkActive="selected">
      <mat-icon fontIcon="person" aria-hidden="true"></mat-icon>
      <span>{{ "SIDENAV_OPTION_EMPLOYEES" | translate }}</span>
    </div>
  </a>

  <a routerLink="/home/projects/list" routerLinkActive="selected">
    <div class="menu-option" routerLinkActive="selected">
      <mat-icon fontIcon="storage" aria-hidden="true"></mat-icon>
      <span>{{ "SIDENAV_OPTION_PROJECTS" | translate }}</span>
    </div>
  </a>
</nav>
